body,
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
  font-weight: 600;
}

.container-fluid {
  background: #f5f5f5;
}

/*****************************
* Home
******************************/

.store-header {
  padding: 24px 0 16px;
  box-shadow: 0 2px 4px 0 rgba(46, 62, 72, 0.12);
  background-color: #fff;
}

.store-header .store-logo {
  text-align: right;
}

.store-header .store-action {
  text-align: left;
}

.store-action a {
  margin: 0 8px;
  text-decoration: none;
}

.store-catalog .col {
  text-align: center;
}

.store-catalog h2 {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.store-herobanner img {
  width: 100%;
  height: 480px;
}

.store-section h1 {
  text-align: center;
  padding: 40px 0 24px;
  font-size: 32px;
}

.item {
  border-radius: 4px;
  padding-bottom: 16px;
}

.item-img img {
  width: 100%;
}

.item-name h4 {
  font-size: 20px;
  text-align: center;
  color: #333;
}

.item-price {
  font-size: 20px;
  color: #ff5722;
  text-align: center;
  font-weight: 600;
}

.section-items {
  margin-bottom: 48px;
}

.section-items a {
  text-decoration: none;
}

.section-items .rating {
  text-align: center;
  color: #ffb901;
}

.section-items .rating span {
  background-color: transparent;
}

.section-loadmore {
  text-align: center;
}

.section-loadmore a {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #ff5722;
  border: solid 1px #ff5722;
}

.store-footer {
  margin-top: 40px;
  height: 200px;
  background-color: #fff;
  padding: 32px 0;
}

.store-footer label {
  font-size: 16px;
  color: #606060;
  font-weight: 600;
  margin-bottom: 4px;
}

.store-footer ul {
  margin: 0;
  padding: 0 0 8px;
  list-style: none;
}

.store-footer li a {
  color: #606060;
  text-decoration: none;
}

.store-footer .social-links {
  margin-top: 8px;
}

.store-footer .social-links a {
  margin-right: 8px;
  text-decoration: none;
}

/*****************************
* Login/Register
******************************/
.credential-logo {
  width: 191px;
  height: 48px;
}

.credential-title h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #00233a;
}

.input-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #98a0a6;
}

.input-fname,
.input-lname,
.input-email,
.input-password,
.input-repassword {
  width: 281px;
  height: 54px;
  border-radius: 3px;
  border: solid 1px #dde3e8;
  background-color: #ffffff;
}

.continue-container button,
.create-container button {
  font-weight: bold;
}

.continue-btn,
.create-btn {
  width: 281px;
  height: 54px;
  border-radius: 3px;
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
  color: #ffffff;
  background-color: #0077e2;
}

.new-account-btn,
.reg-login-btn {
  width: 281px;
  height: 54px;
  border-radius: 3px;
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
  color: #ffffff;
  background-color: #fff;
}

.new-account-container button,
.reg-login-container button {
  font-weight: bold;
  color: #0077e2;
  border: 2px solid #2568e4;
}

.login-card {
  width: 345px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.16);
  background: #ffffff;
}

.register-pOr p,
.login-pOr p {
  border-bottom: 1px dashed #98a0a6;
  line-height: 0.1em;
  font-size: 13px;
  color: #98a0a6;
}

.register-pOr p,
span {
  width: 513px;
  background: #fff;
}

.login-pOr p,
span {
  width: 281px;
  background: #fff;
}

.login-copyright,
.login-reserved {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #98a0a6;
}

.register-card {
  width: 728px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.16);
  background-color: #ffffff;
}

.register-policy p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  color: #98a0a6;
}

.register-footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #98a0a6;
}
